<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      This page was created by Feizix in collaboration with a project carried out by FaztTech.
    </p>
  </div>
</section>
